
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh; 
}


.left {
    width: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(82, 82, 82);
}

.left h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.left a.link {
    color: #0077cc;
    text-decoration: none;
}

.left a.link:hover {
    text-decoration: underline;
}

.album-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.album-links a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: color 0.3s;
}

.album-links a:hover {
    text-decoration: underline;
    color: black;
}

.right {
    width: 60%;
    height: 120vh;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    display: block;
}
